<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @widgettype.lang %></h1>
    <a href="<%= url_for :action => :show, :id => @widgettype.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @widgettype.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @widgettype.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="widgettype[lang]" class="fieldLabel">Lang</label>
            <input type="text" id="widgettype[lang]" name="widgettype[lang]" value="<%= @widgettype.lang %>" <%= placeholder( "Lang" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
