<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @widgettype.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @widgettype.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="widgettype[lang]" class="fieldLabel">Lang</label>
            <input type="text" id="widgettype[lang]" name="widgettype[lang]" <%= placeholder("Lang") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
