html, body{height:auto!important; margin:0; padding:0}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {font-family: Arial, Helvetica, sans-serif!important; margin: 0; padding: 0}
table {font-family: Arial, Helvetica, sans-serif!important; border-collapse: collapse; border-spacing: 0}
fieldset, img, input {font-family: Arial, Helvetica, sans-serif !important; border: 0; outline:none}
address, caption, cite, code, dfn, var { font-style: normal; font-weight: normal}
ol, ul {font-family: Arial, Helvetica, sans-serif!important;list-style: none; margin:0; padding:0}
caption, th {font-family: Arial, Helvetica, sans-serif!important; text-align: left}
h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif!important; margin:0; padding:0}
q:before, q:after { content: ''}
sup{font-size:11px}
a:link{color:#02669F; font-size:14px}
input[type="text"], input[type="email"], input[type="password"], textarea, .inputTextArea, input[type="date"], input[type="email"], input[type="tel"], [type="number"]{background:#fff; padding: 8px 2%!important; border:1px solid #BABABA!important; font-size:16px!important; box-shadow:none!important; border-radius:inherit!important}
select{background:#fafae9!important; border:2px solid #e8e6b8!important; font-size:14px!important; padding:5px!important}
.req{font-weight:700; color:#de3831}
.floatLeft{float:left}
.floatRight{float:right}
.fullWidth{float:left; width:100%}
.contFullwidth{float:left; width:100%; background:#fff}
.noBorder{border:none!important}

.mainWrapper .ui-select{width: 94%;  float: left; clear: both; border: 1px solid #BABABA!important; padding: 11px 2%!important; background: #fff!important}
.mainWrapper .ui-select .ui-btn-hover-c, .mainWrapper .ui-select .ui-btn-up-c{border: none!important;color: #999!important; font-weight: normal!important}
.mainWrapper .ui-select .ui-shadow{text-align: left!important; -webkit-box-shadow:inherit!important;}
.mainWrapper .ui-select .ui-btn-icon-right .ui-icon{right: 0!important}
.mainWrapper input::-moz-placeholder, textarea::-moz-placeholder, .mainWrapper .ui-select .ui-btn-up-c{color: #999!important; font-weight: normal!important}
.mainWrapper .ui-shadow{box-shadow:none!important;}
.mainWrapper .ui-btn{margin: 0!important}
.mainWrapper .ui-btn-corner-all, .mainWrapper .ui-corner-all{border-radius: inherit!important}
.mainWrapper .ui-shadow-inset{box-shadow: none!important}
.mainWrapper .ui-btn-up-c, .mainWrapper .ui-overlay-c{background:none!important; box-shadow: none!important; text-shadow:none!important; border: none!important}
.mainWrapper .ui-btn-up-a{background:none!important; box-shadow: none!important; border:none!important; width: auto; text-align:center;}
.mainWrapper .ui-btn-hover-a{background:none!important; box-shadow: none!important; border:none!important; color: inherit!important; text-shadow: none!important;}
.mainWrapper .ui-btn-hover-c{background:none;!important box-shadow: none!important; color: inherit!important; text-shadow: none!important; border: none!important}
.mainWrapper .ui-btn-inner{padding:0px!important; margin:0px!important; border: none!important}
.mainWrapper .ui-body-c{text-shadow:none!important; color: inherit!important; border: none!important}
.mainWrapper div.ui-input-text{padding: 0!important;}
.mainWrapper .ui-select{margin: 0!important}
.mainWrapper div.ui-input-text{width: 100%!important; background: transparent!important}
div.ui-input-text input.ui-input-text{width: 94%!important; float: left; clear: both; border: 1px solid #BABABA!important}
.mainWrapper .ui-shadow-inset{box-shadow: inherit!important; -moz-box-shadow:inherit!important;-webkit-box-shadow:inherit!important;}
.dobWidth{width: 96%!important; float: left; clear: both; -webkit-appearance: none;  -moz-appearance: none;}
.mainWrapper .ui-field-contain{margin:0px!important;}
.mainWrapper .ui-li-static{border: none!important; background: transparent!important;}
.validationMessage{color: #DE3831!important; margin-right: 5px}
.loginArea .validationMessage{display: inline-block;}

body{font-family: Arial, Helvetica, sans-serif!important; font-size:15px; line-height:18px; color:#3a3a3a; height: auto !important;}
.mainWrapper{float:left; width:100%}
.headerSec{float:left; width:100%; padding:5px 0 0; border-bottom: 2px solid #ccc; position:relative;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
}
.ui-body-c{text-shadow:inherit!important}
.headerLogo, .VibHeaderLogo{width:100%; float:left; text-align:center;}
.headerBackBtn{position:absolute; left:5%; top:30px}
.headerBackBtn a{font-size:20px; font-weight:bold; color:#fff!important; text-decoration:none; background:#2e5790; padding:0 20px; line-height:45px; display:inline-block; text-transform:uppercase}
.headerBackBtn a:hover, .headerLogOutBtn a:hover, .srcBtn .ui-btn-hover-c .ui-btn-text{background:#4f87d6!important}
.headerLogOutBtn{position:absolute; right:5%; top:30px}
.headerLogOutBtn a{font-size:20px; font-weight:bold; color:#fff!important; text-decoration:none; background:#2e5790; padding:0 20px; line-height:45px; display:inline-block; text-transform:uppercase}
.mainWrapper .ui-content, .mainWrapper .ui-mobile .ui-page{background:url(../images/containerBG.jpg) repeat scroll center center!important; }
.mainWrapper .ui-content{padding: 0!important; width:100%;}
.footerSec{float:left; width:100%; box-shadow:0 -3px 4px #999;
background: #bababa;
background: -moz-linear-gradient(top,  #bababa 0%, #d3d3d3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#d3d3d3));
background: -webkit-linear-gradient(top,  #bababa 0%,#d3d3d3 100%);
background: -o-linear-gradient(top,  #bababa 0%,#d3d3d3 100%);
background: -ms-linear-gradient(top,  #bababa 0%,#d3d3d3 100%);
background: linear-gradient(to bottom,  #bababa 0%,#d3d3d3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#d3d3d3',GradientType=0 );
}
.footerSec ul{float:left; width:100%; text-align:center}
.footerSec ul li{display:inline-block; text-align:center}
.footerSec ul li:first-child + li{border-right:1px solid #ccc;border-left:1px solid #ccc }
.footerSec ul li a{font-size:16px; color:#222!important; font-weight:bold; text-shadow:1px 2px 1px #fff; text-decoration:none; line-height:50px; padding:0 20px}

.srcBtn{float: left; width: 100%; margin: 15px 0}
.srcBtn .ui-btn-hover-c{border: none!important;color: #999!important; font-weight: normal!important}
.srcBtn .ui-shadow{-webkit-box-shadow:inherit!important;}
.srcBtn .ui-btn-text{background:#2e5790!important; cursor:pointer; display: inline-block; width: auto!important; padding:10px 20px!important; border:none!important; font-size:16px!important; text-align:center!important; text-transform:uppercase!important; color:#fff!important; font-weight:bold; text-shadow:none!important;}
.srcBtn .ui-btn-inner{text-align: left;}
.containerBox{float:left; width:96%; padding:0 2% 2%}
.flowerImage{float:left; width:100%; background:url(../images/ContBgFlower.png) no-repeat scroll left top; padding-top: 75px}
.loginArea{float:left; width:94%; padding:0 3%}
.pageTitle{font-size:26px; font-weight:bold; color:#000; text-transform:uppercase; margin: 15px 0; line-height: normal;}
.loginInputArea{float:left; width:100%; margin:10px 0}
.loginInputArea div.ui-body-c{background: none!important; border: none!important; margin: 0!important}
.loginInputArea div.ui-input-text{margin-bottom: 20px!important; display: inline-block;}
.changePsdInputArea div.ui-input-text{margin-bottom:0!important}
.loginButtonLeft{float: left;}
.loginButtonRight{float: right;}
.loginInputArea input[type="text"]{width:96%!important; float:left}
.loginInputArea textarea{width:98%!important; float:left}
.loginButton{float:left; width:100%}
.loginButton input[type="submit"], .loginButton .ui-btn-up-c{background:#2e5790!important; cursor:pointer; float:left!important; padding:10px 20px!important; border:none!important; font-size:16px!important; text-align:center!important; text-transform:uppercase!important; color:#fff!important; font-weight:bold; text-shadow:none!important;}
.loginButton .ui-btn-hover-c{background:#4f87d6!important; cursor:pointer; float:left!important; padding:10px 20px!important; border:none!important; font-size:16px!important; text-align:center!important; text-transform:uppercase!important; color:#fff!important; font-weight:bold; text-shadow:none!important;}
.loginButtonLeft .ui-btn-corner-all{border-radius: inherit!important}
.loginButton a{float:right; margin-top:18px; font-size:18px; color:#2e5790; font-weight:bold; text-decoration:underline}
.loginButton a:hover{text-decoration:none}
.loginInputArea .ui-select{margin-bottom: 20px!important}
.changePsdInputArea{float: left; width:100%; margin-bottom: 25px!important}
.changePsdInputArea label{font-size: 16px; font-weight: bold; color: #000; width: 100%!important; margin:0 0 5px 0!important; display: block;}

.abutAlumAssoc{float:left; width:94%; border-radius:15px; box-shadow:0 0 5px #999; background:#fff; padding:25px 3%; margin:0 0 10px 0; line-height: normal; font-size: 16px}
.staticPageTitle h1{font-size:20px; font-weight:bold; color:#2e5790; text-align:center; margin:0 0 20px 0}
.abutAlumAssoc p{font-size:16px; color:#000; line-height:22px; margin-bottom:20px; text-align:justify}
.abutAlumAssoc h3{font-size:20px; font-weight:bold; color:#000; line-height:normal; margin-bottom:30px}
.contactArea{float:left; width:100%}
.contactArea a{background:#2e5790; margin-bottom:20px; text-align:center; line-height:50px; color:#fff; font-size:18px; font-weight:bold; text-decoration:none; float:left; width:100%}
.contactArea h4{background:#2e5790; text-align:center; margin-bottom:20px; line-height:50px; color:#fff; font-size:18px; font-weight:bold; text-decoration:none; float:left; width:100%}

.eventListMainBox{float:left; width:100%; margin-bottom:20px;}
.eventListMainBox .userListMiddle{float:left; width:55%}
.userListMainBox{float:left; width:100%;}
.userListBox{float:left; width:100%; border-bottom:6px solid #2e5790; padding:15px 0;
background: #e8e8e8;
background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 );
}
.fullWidth{margin-bottom:15px}
.advSrcMainBox{float: left; width: 96%; margin: 15px 0 0; padding: 0 2%}
.userListLeft{float:left}
.userListBox a{float:left; width:100%}
.userImage{float:left; margin:0 30px 0 10px; position:relative}
.userImage img{background:#fff; padding:10px; box-shadow:0 0 4px #000; border-radius:15px; width: 110px; height: 110px}
.userImage span{position:absolute; top:50px; right:-20px; background:url(../images/profileImageBGArrow.png) no-repeat scroll center center; width:24px; height:35px}
.userListMiddle{float:left; width:55%}
.userDetails{float:left;}
.userDetails h3{font-size:20px; color:#2e5790; margin-bottom:20px; line-height:normal}
.userDetails p{font-size:15px; color:#000; line-height:20px}
.userListRight{float:right; margin:50px 10px 0 0}
.userDetailsMainBox{float:left; width:100%;}
.userDetailsMainBox h1{background:#dedede; float:left; width:100%; line-height:23px; font-size:26px; color:#000; text-shadow:0 -2px 1px #fff; text-align:center; padding:10px 0}
.userDetailTop{float:left; width:100%; padding:20px 0; background:#2e5790; border-top:3px solid #3c71bb}
.userDtlImage{float:left; margin:0 20px}
.userDtlImage img{border-radius:100%; background:#fff; padding:10px; box-shadow:0 0 4px #999}
.userDtlRight{float:left; width:50%}
.userDtlRight ul{float:left; width:100%}
.userDtlRight ul li{float:left; width:90%; padding:0 0 0 35px; font-size:20px; font-weight:bold; color:#fff; text-shadow:0 -2px 1px #000; line-height:25px; margin-bottom:8px; word-wrap:break-word}
.UDmember{background:url(../images/userDetailsMbrIcons.png) no-repeat scroll left top;}
.UDsubject{background:url(../images/userDetailsCorsNameIcons.png) no-repeat scroll left top;}
.UDyear{background:url(../images/userDetailsYearIcons.png) no-repeat scroll left top;}
.UDlocation{background:url(../images/userDetailsAddressIcons.png) no-repeat scroll left top;}
.aboutUserDtl{float:left; width:100%}
.aboutUserDtlHeading{background:#3463a4; float:left; width:100%; box-shadow:0 -3px 3px #000; padding:10px 0}
.aboutUserDtlHeading h2{float:left; margin-left:20px; font-size:18px; line-height:22px; font-weight:normal; color:#fff; text-shadow:0 -2px 1px #000;}
.userSocilaIcons{float:right; margin-right:20px}
.userSocilaIcons a{float:left}
.userSocilaIcons a:first-child{margin-right:10px; border-right:1px solid #597fb4; padding-right:10px}
.abutUserContent{float:left; width:96%; background:url(../images/aboutArrow.png) no-repeat scroll 40px top #fff; padding: 30px 2%}
.abutUserContent p{font-size:16px; color:#000; line-height:22px; text-align:justify; margin-bottom:15px}

.eventDetailsMainBox{float:left; width:100%}
.eventDetailTop{float:left; width:100%; background:#2E5790; border-top:3px solid #3C71BB; padding:20px 0}
.evtDtlDate{float:left; width:110px; height:60px; background:url(../images/eventDtlCaldIcon.png) no-repeat 0 0; padding-top:50px; margin:0 15px}
.evtDtlDate h4{text-align:center; font-size:15px; line-height:24px; font-weight:bold; color:#000}
.evtDtlMiddle{float:left; width:38%}
.evtDtlMiddle h2{font-size:18px; color:#fff; text-shadow:0 -2px 2px #000; line-height:normal; margin-bottom:10px}
.evtDtlMiddle h5.evtDtlTime{ background:url(../images/eventTimeIcon.png) no-repeat 0 0; font-size:16px; line-height:22px; padding-left:30px; color:#fff}
.evtDtlAttendPrice{border-radius:100%; color:#fff; font-size:18px; text-align:center; float:right; margin-right:15px; background:#4096ee; padding:10px; width:90px; min-height:90px}
.evtDtlAttendPrice span{margin-top:15px; line-height:30px; float:left; width:100%;word-wrap: break-word;}

.evntLocMapBox{float:left; width:100%; position: relative;}
.evntLocAddress{font-size:20px; color:#525252; line-height:normal; text-align:center; padding:15px 0; float:left; width:100%}
.evntLocMapBox a{float:left; width:100%}
.evntLocMapBox a img{width:100%}
.eventDtlMapSec{float: left; width: 100%}
.evntDtlContArea{float:left; width:96%; background:#fff; padding:2%}
.evntDtlContArea h2{font-size:26px; line-height: normal; font-weight:normal; color:#999999; text-shadow:0 -2px 1px #fff; margin:15px 0; display:block}
.evntDtlContent{float:left; width:100%}
.evntDtlContent p{font-size:14px; color:#525252; margin-bottom:10px; line-height:22px; text-align:justify; display:block}
.nearByLabel{float: left; width: 140px; font-size: 16px; font-weight: bold; color: #000; margin-top: 5px}
.nearByDrpCont .ui-select{padding: 5px!important}
.nearByDrpCont{float: left; width: 85px}
.evntDonMapArrow{float: left; width: 100%; position: relative; z-index: 100}
.evntDonMapArrow span{background:url(../images/eventMapDownArrow.png) no-repeat center bottom; height: 25px; width: 100%; position: absolute; top: 0px;}

.eventTabBox{float:left; width:96%; background:#E8E8E8; border-bottom:1px solid #fff; padding:10px 2%}
.eventTabBox ul.tabs{float:left; width:100%; border-radius:10px; box-shadow:0 0 2px #000;
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
.eventTabBox ul.tabs li{float:left; width:50%; text-align:center}
.eventTabBox ul.tabs li a{text-align:center; font-size:16px; font-weight:bold; text-decoration:none; color:#000; line-height:40px; float:left; width:100%; padding:6px 0}
.eventTabBox ul.tabs li a.active{border-radius:0 10px 10px 0; box-shadow:inset 0px 0px 8px #999; -webkit-box-shadow:inset 0px 0px 8px #999;
background: #d3d3d3;
background: -moz-linear-gradient(top,  #d3d3d3 0%, #cecece 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#cecece));
background: -webkit-linear-gradient(top,  #d3d3d3 0%,#cecece 100%);
background: -o-linear-gradient(top,  #d3d3d3 0%,#cecece 100%);
background: -ms-linear-gradient(top,  #d3d3d3 0%,#cecece 100%);
background: linear-gradient(to bottom,  #d3d3d3 0%,#cecece 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#cecece',GradientType=0 );
}
.eventTabBox ul.tabs li:first-child a.active{border-radius:10px 0 0 10px!important}
.userDetails ul{float:left; width:100%}
.userDetails ul li{float:left; width:90%; padding:1px 0 5px 25px; font-size:18px; color:#000;  margin-bottom:10px}
.evtDate{background:url(../images/eventDateIcon.png) no-repeat scroll top left;}
.evtLocation{background:url(../images/eventLocationIcon.png) no-repeat scroll top left;}
.viewMapContainer{float:left; width:96%; padding:2%}
.viewMapMainBox{float: left; width: 100%;}
.viewMapTabTopBox{float:left; width:96%;background:#E8E8E8; border-bottom:1px solid #fff; padding:2%}
.viewMapTabBox{float:left; width:48%; margin-right:3%}
.viewMapTabBox2{float:left; width:48%;}
.viewMapTabBox ul.tabs, .viewMapTabBox2 ul.tabs{float:left; width:100%; border-radius:10px; box-shadow:0 0 2px #000;
background: #eeeeee;
background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
.viewMapTabBox ul.tabs li, .viewMapTabBox2 ul.tabs li{float:left; width:50%; text-align:center}
.viewMapTabBox ul.tabs li a, .viewMapTabBox2 ul.tabs li a{text-align:center; font-size:16px; font-weight:bold; text-decoration:none; color:#000; line-height:40px; float:left; width:100%; padding:6px 0}
.viewMapTabBox ul.tabs li a.active, .viewMapTabBox2 ul.tabs li a.active{border-radius:0 10px 10px 0; box-shadow:inset 0px 0px 8px #999; -webkit-box-shadow:inset 0px 0px 8px #999;
background: #d3d3d3;
background: -moz-linear-gradient(top,  #d3d3d3 0%, #cecece 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#cecece));
background: -webkit-linear-gradient(top,  #d3d3d3 0%,#cecece 100%);
background: -o-linear-gradient(top,  #d3d3d3 0%,#cecece 100%);
background: -ms-linear-gradient(top,  #d3d3d3 0%,#cecece 100%);
background: linear-gradient(to bottom,  #d3d3d3 0%,#cecece 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#cecece',GradientType=0 );
}
.viewMapTabBox ul.tabs li:first-child a.active, .viewMapTabBox2 ul.tabs li:first-child a.active{border-radius:10px 0 0 10px!important}
.viewMapArea{float:left; width:100%; margin-top:20px}

.waitingPageLoader{float: left;width: 100%; text-align: center; font-size: 16px; color: #000; height: 350px; display: table;}
.waitingPageLoaderInner{display: table-cell; vertical-align: middle}
.dataLoaderBox{float:left; width:100%; text-align:center; padding:10px 0; border:1px solid #fff; min-height: 30px;
background: #eeeeee;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
.dataLoaderImage{display:block; text-align:center}
.dataLoaderMessage{display:block;font-size:16px; text-align:center; line-height:normal; color:#000; font-weight:normal}
.hidden {display:none!important;}
.messageInfo {color:#f3f070; text-shadow: none;  text-align:left; padding:15px 20px; margin:10px 5% 15px; font-size:16px; font-weight:600; text-align:center; background:#fff; border:1px solid #faf9c9}
.messageFail {color:#d83637; text-shadow: none; text-align:left; padding:15px 20px; margin:10px 5% 15px; font-size:16px; font-weight:600; text-align:center; background:#fff; border:1px solid #f69a9b}
.messageSuccess {color: #3c8710; text-shadow: none; text-align:left; padding:15px 20px; margin:10px 5% 15px; font-size:16px; font-weight:600; text-align:center; background:#fff; border:1px solid #3c8710}
.messageAlert{padding:0 5%; color:#e13535; font-size:14px; text-transform:uppercase; font-weight:500}
.eventListMainBox .selected_content .messageFail{clear:both; overflow:hidden}
.required{color:#ff6161!important}
.success{color:#3c8710!important}
.morePageBox, .settingPageBox{margin: 0!important; border: 1px solid #fff; border-top: none!important;}
.morePageBox li.ui-btn-up-c, .settingPageBox li.ui-btn-up-c{border-top: 1px solid #fff!important;
background: #ffffff!important;
background: -moz-linear-gradient(top,  #ffffff 0%, #e8e8e8 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e8e8))!important;
background: -webkit-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%)!important;
background: -o-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%)!important;
background: -ms-linear-gradient(top,  #ffffff 0%,#e8e8e8 100%)!important;
background: linear-gradient(to bottom,  #ffffff 0%,#e8e8e8 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 )!important;
}
.morePageBox li.ui-btn-hover-c, .settingPageBox li.ui-btn-hover-c{border-top: 1px solid #fff!important;border-bottom: 1px solid #e8e8e8!important;
background: #e8e8e8!important;
background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff))!important;
background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%)!important;
background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%)!important;
background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%)!important;
background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 )!important;
}
.morePageBox li a{padding: 20px 20px 20px 60px!important; font-size: 18px!important}
.settingPageBox li a{padding: 20px!important; font-size: 18px!important}
.aboutUs{background:url(../images/about_otp.png) no-repeat 10px 10px}
.aboutApp{background:url(../images/about_app.png) no-repeat 10px 10px}
.aboutAlmAss{background:url(../images/iima_alumin_ass.png) no-repeat 10px 10px}
.changePassword{background:url(../images/chage_passwrod.png) no-repeat 10px 10px}
.userProfileBox{background:url(../images/accountUser.png) no-repeat 10px 10px}
.contactUs{background:url(../images/contact-icon.png) no-repeat 10px 10px}

.dataLoaderImage{display:block; text-align:center}
.dataLoaderMessage{display:block;font-size:16px; text-align:center; line-height:normal; color:#000; font-weight:normal}
.userProfileMainBox{float:left; width:94%; padding:3%}
.userProfileInnerBox{float:left; width:100%; margin-top:20px}
.userProfileMainBox img{float:left; margin:0 20px 10px 0; box-shadow:0 0 3px #000; padding:5px; background:#fff; border:1px solid #999}
.userProfileMainBox p {font-size:16px; color:#000; line-height:normal; margin-bottom:10px}
.userProfileMainBox p label{font-weight:bold; margin-right:10px}
.editProfileDtl label{width:135px; display:inline-block}
.profSubmitBtn{margin-top:20px}
.profSubmitBtn input[type="image"]{background:#2e5790; cursor:pointer; float:left; padding:10px 20px; border:none; font-size:24px; text-align:center; text-transform:uppercase; color:#fff; font-weight:bold}
.distanceDropdown {width: 255px; margin: auto}
.nearByDropDownMain{width: 100%; float: left; margin-bottom:20px}
.distanceDropdown select{color: #000!important}
.mainWrapper .evtMapWrapper{padding-top: 15px!important}
.conntactUsWrapper{float: left; width: 96%; padding: 2%;}
.conntactUsBox{float: left; width: 100%}
.contactAddress{float: left; width: 100%; font-size: 18px; color: #000; line-height: 28px; margin: 20px 0; font-weight: 400;}
.contactCallDtl{float: left; width: 100%; margin-top:80px}
.contactEmail{float: left; width: 100%}
.contactEmail a{font-size: 18px; float: left; width: 80%; height: 24px; line-height: 24px; background:url(../images/contactMailIcon.png) no-repeat 0px 0px; padding-left: 35px}
.contactPhone{float: left; width: 100%;}
.contactPhone a{float: left; width: 80%; height: 24px; line-height: 24px; font-size: 18px; margin-bottom: 15px; background:url(../images/call-icon.png) no-repeat 0px 0px; padding-left: 35px; font-weight: bold;}
.loginInputArea .ui-field-contain label.ui-input-text{width: 100%!important}
.abutMainContainer{float: left; width: 96%; padding: 0 2%}
.morePageContainer{float: left; width: 100%}
.readonlyArea, .loginInputArea input.readonlyArea.ui-input-text, .loginInputArea textarea.readonlyArea.ui-input-text{background-color: #E4E4E4!important; cursor:not-allowed}
div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text, .ui-input-search input.ui-input-text{background: #fff!important}
.inputTextAreaBox{float:left; width:100%; margin-bottom:20px}
.inputTextAreaBox textarea, .inputTextAreaBox textarea.ui-shadow-inset, .inputTextAreaBox textarea.ui-body-c{border:1px solid #bababa!important; background:#fff!important}
.ui-body-c, .ui-overlay-c{ background: url(../images/containerBG.jpg) repeat center center!important;}
.eventListMainBox .selected_content .userListBox:last-child, .user_listing_container .userListBox:last-child{border-bottom:none}