<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>
      <li><a href="<%= url_for :action => :reset %>">Reset Database</a></li>
      <li><a href="<%= url_for :action => :do_sync %>">Perform Sync</a></li>
      <li><a href="<%= url_for :controller => 'User', :action => 'index' %>">User</a></li>
           
    </ul>
  </div>
</div>
