{{ #resources }}
  <div class='userListBox'>
    <a data-ajax='false' href='http://www.google.com' t_href='' onclick='update_show_page_url(this)'>
      <div class='userListLeft'>
        <div class='userImage'><img src='/public{{ image_url }}' /></div>
      </div>
      <div class='userListMiddle'>
        <div class='userDetails'>
          <h3>{{ fullname }}</h3>
          <ul class='userDetail'>
            <li class='course'>{{ course }}</li>
            <li class='batch'>{{ batch_in }} - {{ batch_passout }}</li>
            <li class='address'> 
              {{ city_name }}
              ({{ country_name }}) 
            </li> 
          </ul>
        </div>
      </div>
      <div class='userListRight'><img src='/public/images/spacer.gif' /></div>
    </a>
  </div>
{{ /resources }}