<style>
.ui-content { float:left;}
</style>
<div data-role="page" id="member_list_page">
  <div class="headerBackBtn">
    <a data-ajax="false" href="<%= url_for :controller => 'Settings', :action => 'home' %>">Push Records</a>
  </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <div data-role="content"  class="userListMainBox">
    <div id="user_listing_container" class="user_listing_container"></div>
    <script class="template_container" type="text/mustache"><%= render :partial =>"user_template"%></script>
  </div>
</div>

<script type="text/javascript">
  var template = $('.template_container').html();
  Mustache.parse(template);   // optional, speeds up future uses
  $('#user_listing_container').html(Mustache.render(template, <%= @data[:data].to_json %>));
</script>